<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Spam Cruncher</title>
  </head>
  <body>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <h1>Welcome to Zach and Michael's Spam Cruncher!</h1>
    <p> This model outputs probabilities that a written email or .eml file
        is spam or ham (i.e., not spam). The predictions come from an SGD classifier trained on
        publicly available spam corpora (enron, ling, and trec).</p>

        <a href="text" class="btn btn-primary">Enter a text email</a>
        <a href="file" class="btn btn-primary">Upload a .eml file</a>

  </body>
</html>