
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Spam Cruncher</title>
  </head>


<form action="" method="post">
    <div class="form-group">
        <label for="subject">What is the subject of the email?</label>
        <textarea class="form-control" rows="5" name="subject" ></textarea>
        <label for="body">What is the body of the email?</label>
        <textarea class="form-control" rows="5" name="body" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Get spam/ham probabilities (takes up to a minute)</button>
</form>